*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover{
    color:white;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    max-width: 1700px;
    margin-bottom: 5em;
}

header nav{
    display: flex;
    width: 45%;
    justify-content: space-between;
}

header nav a{
    color: white;
    font-size: 36px;
}

.container{
    display: flex;
    width: 90%;
    max-width: 1700px;
}

.container .left{
    width: 70%;
}

.container .left li a{
    color:white;
}

.list-item{
    margin-bottom: 1em;
}

.container .left .row .col ul{
    list-style-type: none;
    font-size: 36px;
    color:white;
}

.right h3{
    font-size: 64px;
    color:white;
    margin-bottom: .4em;
}

.right{
    color:white;
    font-size: 24px;
}

@media(max-width: 1200px){

    header nav{
        width: 70%;
    }

    header nav a{
        font-size: 24px;
    }

    .container .left{
        width: 170%;
        padding-right: 2em;
    }

    .container .left li a{
        font-size: 24px;
    }

    .container .right{
        font-size: 24px;
    }
}

@media (max-width: 576px) {
    .container .left h1{
        font-size: 20px;
    }

    header nav a{
        font-size: 16px;
    }

    .container .left p{
        text-align: justify;
        font-size: 16px;
    }

    .container .left li a{
        font-size: 16px;
    }

    .container .right{
        font-size: 16px;
    }

    header{
        margin-bottom: 1em;
    }

    .right h3{
        font-size: 32px;
    }
}