*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover{
    color:white;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./images/index-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    max-width: 1700px;
    margin-bottom: 5em;
}

header nav{
    display: flex;
    width: 45%;
    justify-content: space-between;
}

header nav a{
    color: white;
    font-size: 36px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    max-width: 1700px;
}

.container .left{
    width: 50%;
}

.container .left h1{
    font-size: 48px;
    color: white;
    margin-bottom: 1em;
}

.container .left p{
    font-size: 36px;
    color: white;
    margin-bottom: 1em;
}

.container .right{
    width: 50%;
}

@media(max-width: 1200px){
    body{
        background-image: none;
        background-color: black;
    }

    header nav{
        width: 70%;
    }

    header nav a{
        font-size: 24px;
    }

    .container{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container .left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

    .container .left h1{
        font-size: 36px;
    }

    .container .left p{
        text-align: justify;
        font-size: 24px;
    }
}