*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color:white;
}

a:hover{
    color:white;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    max-width: 1700px;
    margin-bottom: 2em;
}

header nav{
    display: flex;
    width: 45%;
    justify-content: space-between;
}

header nav a{
    font-size: 36px;
}

.container{
    width: 90%;
    max-width: 1700px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.card{
    background-color: black;
    border: 1px solid white;
    flex-basis: 33.3%;
    padding: 1.5em;
    margin: 0 .3em 0 .3em;
    color:white;
}

.card-body{
    padding: .6em 0 0 0;
}

.card h4{
    margin: 1em 0 1em 0;
    font-size: 36px;
}

.card p{
    font-size: 36px;
}

@media(max-width: 1200px){

    header nav{
        width: 70%;
    }

    header nav a{
        font-size: 24px;
    }

    .container div{
        display: flex;
        flex-direction: column;
    }

    .card{
        margin: 1em 0 1em 0;
    }
}